header{
    background-color:yellow;
    text-align:center;
    padding: 15px;
    border-radius: 15px;
}

body{
    color: rgb(24, 7, 7);
    background-image: linear-gradient (to right, red, green);
    font-family: sans-serif;
    font-size: 20px;
}

footer{
    text-align: center;
}
.imagem{
    text-align: center;
}

.botão{
    border-radius: 15px;
}